.modal{
    text-align: center;
    .modal-content{

        .modal-icon,.modal-text{
            margin-bottom: 20px;
        }

        .modal-icon{
            width: 150px;
            height: 150px;

        }
   }
}