@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "colors";
@import "normalize";
@import "no-bootstrap";
@import "nav";
@import "modal";

.title--dark{
    color: $secundary-color;
}

/**
    Card de compra de produto
**/
.product-image{
    width: 360px;
    height: 360px;
}

.product-image--md{
    width: 100%;
    height: 240px;
    border: 10px solid #f8f8f8;
    background-color: white;
}

.product-jumbo{
    background-color: #F8F8F8;
    text-align: left;
}
.product-price, .product-jumbo h1,h2,h3,h4,h5,label{
    margin-left: 10px;
}

.product-image--small{
    width: 50px;
}

.product-title{
    font-size: 20px;
    text-align: left;
    font-weight: normal;
}

.paragraph{
    text-align: left;
    font-weight: 500;
    color: $primary-gray;
}

.product-card-shop,.product-card-frete{
    padding: 8px;
    background-color: #f8f8f8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
}
.product-card-shop,.product-card-frete{
    background-color: #f8f8f8;
    
}




.product-card-frete{
    margin-top: 10px;
    background-color: $primary-color;

}

.title-frete{
    color: white;
}

.product-price{
    font-size: 18px;
    color: $primary-color;
    margin-top: 5px;
}

.product-card-shop label{
    font-size: 12px;
}


.product-list{
    margin-bottom: 50px;
}

/**
   Buttons
**/

.btn{
    background-color: $green-success;
    padding: 8px;
    color: #FFF;
    font-size: 18px;
    border:none;
    box-shadow: 0 3px darken( $green-success, 10% );
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.btn--dark{

    background-color: $secundary-color;
    box-shadow: 0 3px #0F4140;
    width: 90px;
}

/**
    inputs
**/

input.custom-input{
    height: 35px;
    border-radius: 5px;
    border: none;
    max-width:110px;
}
input.custom-input--sm{
    max-width: 45px;
}


/**
    Footer
**/
.container{
    text-align: center;
    flex: 1 0 auto;
    
}

.footer{
    background-color: $primary-color;
    flex-shrink: 0;
}
.footer p{
    text-align: center;
    color: white;
    font-weight: 600;
}

.footer--dark{
    display: flex;
    justify-content: flex-end;
    padding: 5px 25px 0 0;
    background-color: $secundary-color;
}
.footer-logo{
    width: 40px;
    height: 40px;

}

/**
    media queries
**/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .product-title,.product-card-shop, .product-card-frete{
        text-align: center;
    }

    .valign-wrapper--evenly{
        flex-direction: row;
    }

    .product-card-frete{
        margin-bottom: 20px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}