* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5{
  margin: 0 0;
}

h1,h2,h3,h4,h5,label{
    color: #b1b1b1;

}

header{
  text-align: center;
}

.label--sm{
  font-size: 12px;
}

.nav {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  background-color: white;
  position: relative;
  padding-bottom: 75px;
 
}

.nav:after {
    content : "";
    position: absolute;
    left    : 1%;
    bottom  : 0;
    
    height  : 1px;
    width   : 98%;  /* or 100px */
    border-bottom: 2px solid #E7E7E7;
  }

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 30px;
  color: #d1d1d1;
  padding: 10px 10px 10px 10px;
}

.logo{
  position: absolute;
  top: 5px;
  width: 40px;
  height: 40px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline-block;
  margin-left: 3rem;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #b1b1b1;
  font-size: 25px;
}

.nav > .nav-links > a:hover {
    border-bottom: 5px solid #4EC2DD;
}

.nav > #nav-check {
  display: none;
}


.active{
    color: #4EC2DD !important;
}

.nav-search{
    display: inline;
}
.search-input{
    width: 300px;
    height: 50px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 5px 5px 5px #e4e4e4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input.search-input:enabled{
    padding-left: 2.5rem;
}
input.search-input::placeholder{
    margin-top: 30px;
}
.nav-search .icon{
    position: absolute;
    top: 26%;
    z-index: 1;
    margin-left: 10px;
    color: #d1d1d1;
}

.nav .nav-shopping-cart{
    display: inline-block;
    margin-left: 20px;
}

.cart-icon{
    position: relative; 
    top: 10px; 
    width: 25px;
    padding: 0;
    margin: auto;
}

/**
    Media queries
*/
@media (max-width:600px) {

  input.search-input{
        width: 180px;   
        height: 40px;    
    }
  input.search-input{
      font-size: 14px;
  }

  .logo{
      width: 30px;
      height: 35px;
      left: 10px;
  }

  .nav-search .icon{
    top: 20%;
  }

  .nav .nav-shopping-cart {
    margin-left: 5px;
    }


  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    border-bottom: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
